{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">
    <img src="{% static 'img/llog.png' %}" width="150" height="50" class="d-inline-block align-top" alt="">
   <a class="btn btn-primary" href="form">Application Form</a>
  </a>
</nav>
<div style="padding:20px;">
<div class="alert alert-primary" role="alert" style="padding:20px;font-size:20px;font-family:georgia;">
 For account opening please go through application form and enter your correct details!!
</div></div>
<center> <h2 style="color:#199EB8;font-size:50px;"><b>About us</b></h2></center>
<div class="container">
    <div class="row">
        <div class="col-md-3">


<div style="padding:30px;padding-right:20px;padding-top:20px;">
<div class="card" style="width: 17rem;padding:7px;">

  <div class="card-body">
    <h5 class="card-title"><b><u style="color:#199EB8;font-size:30px;padding:10px;">History</u></b></h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text"  style="font-size:20px;padding:20px;">HIBC Bank was originally promoted in 1994 by HIBC Limited, an Indian financial institution, and was its wholly-owned subsidiary.</p>

  </div>
</div></div></div>
            <div class="col-md-3">
<div style="padding:20px;padding-left:25px;">
<div class="card" style="width: 22rem;padding:10px;">
  <div class="card-body">
    <h5 class="card-title"><b><u style="color:#199EB8;font-size:30px;padding:10px;">Board of Directors</u></b></h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text"  style="font-size:20px;padding:20px;">HIBC Bank's Board members include eminent individuals with a wealth of experience in international business, management consulting, banking and financial services.</P>

  </div>
</div></div></div>
        <div class="col-md-3">
<div style="padding:100px;padding-top:20px;">
<div class="card" style="width: 24rem;padding:10px;">
  <div class="card-body">
    <h5 class="card-title"><b><u style="color:#199EB8;font-size:30px;padding:10px;">HIBC Group Companies</u></b></h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text"  style="font-size:20px;padding:20px;">HIBC Bank offers a wide range of banking products and financial services to corporate and retail customers through a variety of delivery channels and through its group companies.</P>
</div>
  </div>
</div></div>

<!--        <div class="col-md-3">-->
<!--<div style="padding:30px;">-->
<!--<div class="card" style="width: 25rem;padding:10px;">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title"><b><u style="color:#199EB8;font-size:30px;padding:10px;">HIBC Group Companies</u></b></h5>-->
<!--    <h6 class="card-subtitle mb-2 text-muted"></h6>-->
<!--    <p class="card-text"  style="font-size:20px;padding:20px;">HIBC Bank offers a wide range of banking products and financial services to corporate and retail customers through a variety of delivery channels and through its group companies.</P>-->
<!--</div>-->
<!--  </div>-->
<!--</div></div>-->

    </div>

</div>







</body>
</html>